@using System.ServiceModel
@using Microsoft.AspNet.Identity
@model PhotoContest.Models.Models.Contest
@{
    ViewBag.Title = "View Contest";
}
<div class="container">
    <div class="row" style="border:solid black">
        <div class="col-md-14 ">
            <div class="row" style="border:solid red">

                <div class="container-fluid">
                    <ul class="row" style="border:dotted black">

                        <li class="col-lg-8 col-md-8">
                            <img class="img-responsive" src="http://www.texturequalitypro.com/assets/files/content_files/TextureQualityPro_Large_Sample.jpg">
                        </li>
                        <li class="col-lg-8 col-md-8">
                            <img class="img-responsive" src="http://www.texturequalitypro.com/assets/files/content_files/TextureQualityPro_Large_Sample.jpg">
                        </li>

                        <li class="col-lg-16 col-md-16" style="border:solid margin-bottom:none">
                            <img class="img-responsive" src="http://www.texturequalitypro.com/assets/files/content_files/TextureQualityPro_Large_Sample.jpg">
                        </li>



                    </ul>
                    <div class="col-md-8">
                        fdfdfd
                    </div>
                </div>
                <div class="container-fluid">
                    <ul class="row">

                        <li class="col-lg-8 col-md-8">
                            <img class="img-responsive" src="http://www.texturequalitypro.com/assets/files/content_files/TextureQualityPro_Large_Sample.jpg">
                        </li>
                        <li class="col-lg-8 col-md-8">
                            <img class="img-responsive" src="http://www.texturequalitypro.com/assets/files/content_files/TextureQualityPro_Large_Sample.jpg">
                        </li>

                        <li class="col-lg-8 col-md-8" style="border:solid margin-bottom:none">
                            <img class="img-responsive" src="http://www.texturequalitypro.com/assets/files/content_files/TextureQualityPro_Large_Sample.jpg">
                        </li>



                    </ul>
                </div>
            </div>

        </div>
        <div class="col-md-8 col-md-offset-2">

            <div class="row">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="text-right">Status: @Model.Status</h3>
                    </div>
                    <div class="panel-body">
                        <div class="container-fluid">

                            <div class="list-group">
                                <div class="list-group-item">
                                    <h4 class="list-group-item-heading">Title</h4>
                                    <p class="list-group-item-text">@Model.Title</p>
                                </div>
                                <div class="list-group-item">
                                    <h4 class="list-group-item-heading">Description</h4>
                                    <p class="list-group-item-text">@Model.Description</p>
                                </div>
                                <div class="list-group-item">
                                    <h4 class="list-group-item-heading">Creator</h4>
                                    <p class="list-group-item-text">@Model.Creator.UserName</p>
                                </div>
                                <div class="list-group-item">
                                    <h4 class="list-group-item-heading">Max Number Of Participants</h4>
                                    <p class="list-group-item-text">@Model.MaxNumberOfParticipants</p>
                                </div>
                                <div class="list-group-item">
                                    <h4 class="list-group-item-heading">Deadline</h4>
                                    <p class="list-group-item-text">@Model.Deadline.ToString("dd MMMM yyyy")</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @if (User.Identity.GetUserId() == @Model.Creator.Id)
                {
                    @Html.ActionLink("Invite", "Invite", "Contests", new { id = @Model.Id }, new { @class = "btn btn-success pull-left" })
                }
                @Html.ActionLink("Delete", "Delete", "Contests", null, new { @class = "btn btn-danger pull-right" })
                @Html.ActionLink("Edit", "Edit", "Contests", null, new { @class = "btn btn-success pull-left" })
            </div>

        </div>

    </div>

</div>

