@model PhotoContest.App.Models.ViewModels.ProfileViewModel
@{
    ViewBag.Title = "Profile";
}
<h2>Profile</h2>
<hr />
<div class="container">
    <div class="row">
        <div class="col-xs-24 col-sm-24 col-md-12 col-lg-12 col-xs-offset-0 col-sm-offset-0 col-md-offset-6 col-lg-offset-6 toppad">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Informaton</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6 col-lg-6 " align="center"> <img alt="User Pic" src="@Model.PhotoLink" class="img-circle img-responsive"> </div>

                        <div class=" col-md-18 col-lg-18 ">
                            <table class="table table-user-information">
                                <tbody>
                                    <tr>
                                        <td>Username</td>
                                        <td>@(Model.Username)</td>
                                    </tr>
                                    <tr>
                                        <td>Date of Birth</td>
                                        <td>@(Model.DateOfBirth == DateTime.MinValue ? "Not set" : Model.DateOfBirth.ToString("dd MMMM yyyy"))</td>
                                    </tr>

                                    <tr>
                                    <tr>
                                        <td>Gender</td>
                                        <td>@(Model.Gender)</td>
                                    </tr>
                                    <tr>
                                        <td>Home Address</td>
                                        <td>@(Model.Address ?? "Not set")</td>
                                    </tr>
                                    <tr>
                                        <td>Email</td>
                                        <td>@(Model.Email)</td>
                                    </tr>
                                <tr>
                                    <td>Phone Number</td>
                                    <td>@(Model.PhoneNumber == "none" ? "Not set" : Model.PhoneNumber)</td>
                                </tr>

                                </tbody>
                            </table>

                            <div class="btn btn-primary text-center form-control">Own contests</div>
                            @if (Model.OwnContests.Count() > 0)
                            {
                                foreach (var contest in Model.OwnContests)
                                {
                                    <p>@Html.ActionLink(@contest.Title, "View", "Contests", new { id = @contest.Id }, null) - @contest.Status</p>
                                }
                            }
                            else
                            {
                                <p>No own contests.</p>
                            }
                            <div class="btn btn-primary text-center form-control">Judge in contests</div>
                            @if (Model.JudgeContests.Count() > 0)
                            {
                                foreach (var contest in Model.JudgeContests)
                                {
                                    <p>@Html.ActionLink(@contest.Title, "View", "Contests", new { id = @contest.Id }, null) - @contest.Status</p>
                                }
                            }
                            else
                            {
                                <p>No contests.</p>
                            }
                        </div>
                    </div>
                </div>
@if (this.User.Identity.Name == Model.Username)
{
                @:<div class="panel-footer">
                    @Html.ActionLink("Change password", "ChangePassword", "Manage", null, new { @class = "btn btn-sm btn-primary" })
                  @:<span class="pull-right">
                        @Html.ActionLink("Edit Profile", "Edit", "Users", null, new { @class = "btn btn-sm btn-primary" })
                    @:</span>
               @:</div>
}

            </div>
        </div>
    </div>
</div>
<br />

@*<h4>Own contests</h4>
    @if (Model.OwnContests.Count() > 0)
    {
        foreach (var contest in Model.OwnContests)
        {
            <p>@Html.ActionLink(@contest.Title, "View", "Contests", new { id = @contest.Id }, null) - @contest.Status</p>
        }
        DateTime.Parse("1900-01-01 12:00:00.000")
    }
    else
    {
        <p>No own contests.</p>
    }
    <h4>Judge in contests</h4>
    @if (Model.JudgeContests.Count() > 0)
    {
        foreach (var contest in Model.JudgeContests)
        {
            <p>@Html.ActionLink(@contest.Title, "View", "Contests", new { id = @contest.Id }, null) - @contest.Status</p>
        }
    }
    else
    {
        <p>No contests.</p>
    }*@