@model PhotoContest.App.Models.ViewModels.ProfileViewModel
@{
    ViewBag.Title = "Profile";
}
<h2>Profile</h2>
<div class="input-group col">
    <div class="input-group-addon" id="basic-addon1">Username</div>
    @Html.TextBox("Username", Model.Username, new { @class = "form-control", disabled = "disabled" })
</div><br />
<div class="input-group">
    <div class="input-group-addon" id="basic-addon1">Email</div>
    @Html.TextBox("Email", Model.Email, new { @class = "form-control", disabled = "disabled" })
</div><br />
<div class="input-group">
    <div class="input-group-addon">Phone number</div>
    @Html.TextBox("PhoneNumber", Model.PhoneNumber ?? "none", new { @class = "form-control", disabled = "disabled" })
</div>
<br />
@if (this.User.Identity.Name == Model.Username)
{
    @Html.ActionLink("Edit", "Edit", "Users", null, new { @class = "btn btn-default btn-lg" })
    @: 
    @Html.ActionLink("Change password", "ChangePassword", "Manage", null, new { @class = "btn btn-default btn-lg" });
}
<h4>Own contests</h4>
@if (Model.OwnContests.Count() > 0)
{
    foreach (var contest in Model.OwnContests)
    {
        <p>@Html.ActionLink(@contest.Title, "View", "Contests", new { id = @contest.Id }, null) - @contest.Status</p>
    }
}
else
{
    <p>No own contests.</p>
}
<h4>Judge in contests</h4>
@if (Model.JudgeContests.Count() > 0)
{
    foreach (var contest in Model.JudgeContests)
    {
        <p>@Html.ActionLink(@contest.Title, "View", "Contests", new { id = @contest.Id }, null) - @contest.Status</p>
    }
}
else
{
    <p>No contests.</p>
}