@model PhotoContest.App.Models.Photos.BindingModels.EditPhotoModel
@{
    ViewBag.Title = "Edit photo";
}
<h2>Add</h2>
@using (Html.BeginForm("Edit", "Photos", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationMessageFor(m => m.Title, null, new { @class = "text-danger" })
    <div class="input-group">
        <div class="input-group-addon" id="basic-addon1">Title</div>
        @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
    </div>
    <br />
    @Html.ValidationMessageFor(m => m.PhotoFile, null, new { @class = "text-danger" })
    <div class="input-group">
        <div class="input-group-addon" id="basic-addon1">Upload photo</div>
        @Html.TextBoxFor(m => m.PhotoFile, new { type = "file", @class = "form-control", id = "uploadPhoto" })
    </div>
    <div>
        <p>Preview: </p>
        <img src="@Model.PhotoLink" id="uploadPhotoPreview" />
    </div>
    <br />
    <input type="submit" class="btn btn-success" value="Add" />
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/main")
}