@model PhotoContest.App.Models.ViewModels.PhotoViewModel
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "ViewPicture";
}

<h2>@Model.Title</h2>
<hr />
@if (@Model.UserId == this.User.Identity.GetUserId())
{
    <div id="loading" class="alert alert-info">Loading...</div>
    <div id="changedAvatar" class="alert alert-success hidden">Your profile photo was changed.</div>
    @Html.ActionLink("Delete", "Delete", "Photos", new { id = Model.Id }, new { @class = "btn btn-danger confirmDelete" })
    @Html.ActionLink("Edit", "Edit", "Photos", new { id = Model.Id }, new { @class = "btn btn-success" })

    @Ajax.ActionLink("Set as profile photo", "SetAsProfile", new { id = Model.Id }, new AjaxOptions()
    {
        LoadingElementId = "loading",
        OnSuccess = "completedChangingPhoto"
    }, new { @class = "btn btn-success" });
}
<div class="photoContainer">
    <img src="@Model.PhotoLink" alt="@Model.Title" />
</div>
@section Scripts {
    
    @Scripts.Render("~/bundles/main")
    @Scripts.Render("~/bundles/unobtrusive-ajax")
}